{{#section 'title'}}
    Input Sales Order
{{/section}}
{{error}}

<div class="row container">
    <div class="col s12 mt-20">
        <div class="col s12 mb-20 mt-20 center">
            <span class="font-40">Input Sales Order</span>
        </div>
        <div class="row">
            <form action="" method="post">
                <div class="col s12 container">
                    <div class="row">
                        <div class="col s12">
                            <span class="font-20 ">Sales Order ID : {{orderid}}</span>
                            <a class="btn-floating btn-large waves-effect waves-light blue right modal-trigger" title="Ke Rekap Sales Order" href="/recap-sales-order"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="customerId" name="customer[idcustomer]" type="hidden">
                            <select id="customer" name="customer[nama]" required>
                                <option value="" disabled selected>Pilih Customer</option>
                                {{#each custRow}}
                                    <option value="{{nama}}">{{nama}}</option>
                                {{/each}}
                            </select>
                            <label for="customer">Nama Customer</label>
                        </div>
                        <div class="row hide" id="custDetailBlock">
                            <div class="col s12">
                                <div class="card-panel white z-depth-0">
                                    <span class="grey-text" id="customerDetail">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="itemSoField">
                        <div class="row">
                            <div class="input-field col s10 m3 l3">
                                <input id="namaBarang" name="addSo[0][nama]" type="hidden">
                                <input id="hargaJual" name="addSo[0][hargajual]" type="hidden">
                                <input id="kodeId" name="addSo[0][idkode]" type="hidden">
                                <select id="kode-produk" name="addSo[0][kode]" class="validate" required disabled>
                                    <option value="" disabled selected>Pilih Kode Produk</option>
                                </select>
                                <label for="kode-produk">Kode Produk</label>
                            </div>
                            <div class="col s1 mt-10 mr-10 hide-on-med-and-up">
                                <a class="btn-floating btn waves-effect waves-light green darken-3" id="btnAddSo-top" title="Tambah Barang"><i class="material-icons">add</i></a>
                            </div>
                            <div class="input-field col s12 m4 l4">
                                <input id="nama-produk" type="text" class="validate" disabled required>
                                <label for="nama-produk">Nama Produk</label>
                            </div>
                            <div class="input-field col s12 m3 l3">
                                <input id="harga-Jual" type="text" class="validate" disabled required>
                                <label for="harga-Jual">Harga Jual</label>
                            </div>
                            <div class="input-field col s12 m1 l1">
                                <input id="jumlah" name="addSo[0][jumlah]" type="number" class="validate" required disabled>
                                <label for="jumlah">Jumlah</label>
                            </div>
                            <div class="col m1 l1 mt-10 hide-on-small-only">
                                <a class="btn-floating btn waves-effect waves-light green darken-3" id="btnAddSo-bot" title="Tambah Barang"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <span class="font-20 {{message.color}}-text" id="message">{{message.text}}</span>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field mt-20">
                                <input id="orderId" name="orderid" type="hidden" value="{{orderid}}">
                                <button type="submit" name="addSoSubmit" id="addSoSubmit" class="waves-effect waves-light btn blue darken-3 right">Buat SO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>