{{#section 'title'}}
    List Kode
{{/section}}
{{error}}

<div class="row container">
    <div class="col s12 mt-20">
        <div class="col s12 mb-20 mt-20 center">
            <span class="font-40">List Kode</span>
        </div>
        <div class="row">
            <div class="col s12 container">
                <div class="row">
                    <div class="input-field">
                        <a class="btn-floating btn-large waves-effect waves-light green modal-trigger" href="#addCode"><i class="material-icons">add</i></a>
                    </div>
                </div>
                <div class="col s12 mb-20">
                    <span class="font-20 {{message.color}}-text" id="message">{{message.text}}</span>
                </div>
                <div class="home-table row">
                    <table class="bordered">
                        <thead>
                            <tr class="border-bottom">
                                <th width="30%">Kode Produk</th>
                                <th width="50%">Nama Produk</th>
                                {{#compare priv "1" operator="=="}}
                                    <th width="20%">Status</th>
                                    <th></th>
                                {{/compare}}
                            </tr>
                        </thead>
                        <tbody id="addStockBlock">
                        {{#each listCode}}
                            <tr>
                                <td>{{kode}}</td>
                                <td>{{nama}}</td>
                                {{#compare ../priv "1" operator="=="}}
                                    <td class="center">
                                        <div class="switch">
                                            <label>
                                                Non Aktif
                                                <input type="checkbox" id="statusKode{{idkode}}" data-text="{{invertStatus status}}" data-kode="{{encrypt idkode}}" {{#compare status "1" operator="=="}}checked{{/compare}}>
                                                <span class="lever"></span>
                                                Aktif
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn-floating btn waves-effect waves-light blue modal-trigger" href="#editKode{{idkode}}" ><i class="material-icons">edit</i></a>

                                        <div id="editKode{{idkode}}" class="modal">
                                            <form action="" method="post">
                                                <div class="modal-content">
                                                    <div class="col s12 container">
                                                        <div class="col s12 mb-20 mt-20 center">
                                                            <span class="font-40">Edit Kode Produk</span>
                                                        </div>
                                                        <div class="row" id="kodeField">
                                                            <div class="row">
                                                                <div class="input-field col s4">
                                                                    <input name="editKode[kodeOld]" type="hidden" value="{{kode}}" >
                                                                    <input id="kode-produk" name="editKode[kode]" type="text" class="validate" value="{{kode}}" required>
                                                                    <label for="kode-produk">Kode Produk</label>
                                                                </div>
                                                                <div class="input-field col s6">
                                                                    <input name="editKode[namaOld]" type="hidden" value="{{nama}}" >
                                                                    <input id="nama-produk" name="editKode[nama]" type="text" class="validate" value="{{nama}}" required>
                                                                    <label for="nama-produk">Nama Produk</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer modal-fixed-footer">
                                                    <button type="submit" name="editCodeSubmit" id="editCodeSubmit" value="{{encrypt idkode}}" class="modal-close waves-effect waves-light btn grey darken-3 left ml-10 mb-10">Submit</button>
                                                    <a href="#!" class="modal-close waves-effect waves-light btn grey darken-1 left mb-10">Cancel</a>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                {{/compare}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="addCode" class="modal">
                <form action="" method="post">
                    <div class="modal-content">
                        <div class="col s12 container">
                            <div class="col s12 mb-20 mt-20 center">
                                <span class="font-40">Tambah Kode Produk</span>
                            </div>
                            <div class="row" id="kodeField">
                                <div class="row">
                                    <div class="input-field col s4">
                                        <input id="kode-produk" name="listKode[0][kode]" type="text" class="validate" required>
                                        <label for="kode-produk">Kode Produk</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="nama-produk" name="listKode[0][nama]" type="text" class="validate" required>
                                        <label for="nama-produk">Nama Produk</label>
                                    </div>
                                    <div class="col s2 mt-10">
                                        <a class="btn-floating btn waves-effect waves-light green darken-3" id="btnAddKode" title="Tambah Kode"><i class="material-icons">add</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-fixed-footer">
                        <button type="submit" name="addCodeSubmit" id="addCodeSubmit-bot" class="modal-close waves-effect waves-light btn grey darken-3 left ml-10 mb-10">Submit</button>
                        <a href="#!" class="modal-close waves-effect waves-light btn grey darken-1 left mb-10">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>