{{#section 'title'}}
    Laporan Aktivitas
{{/section}}
{{error}}

<div class="row container">
    <div class="col s12 mt-20">
        <div class="col s12 mb-20 mt-20 center">
            <span class="font-40">Laporan Aktivitas</span>
        </div>
        <div class="col s12">
            <span class="font-20 {{message.color}}-text" id="message">{{message.text}}</span>
        </div>
        <div class="row">
            <form action="" method="post">
                <div class="col s12 almost-full">
                    <div class="col s12">
                        <ul class="collapsible col s12" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">date_range</i>
                                    Filter periode laporan
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m6 l6">
                                            <label for="startPeriode">Dari Tanggal : </label>
                                            <input id="startPeriode" name="periode[start]" type="text" class="datepicker" value="{{filterDate.start}}">
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <label for="endPeriode">Sampai Tanggal : </label>
                                            <input id="endPeriode" name="periode[end]" type="text" class="datepicker" value="{{filterDate.end}}">
                                        </div>
                                        <div class="row">
                                            <div class="input-field mt-20 col s12">
                                                <button type="submit" name="dateFilterBtn" id="dateFilterBtn" class="waves-effect waves-light btn blue darken-3 left">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="home-table row">
                        <table class="bordered">
                            <thead>
                            <tr class="border-bottom">
                                <th width="1%">No</th>
                                <th width="2%">Tanggal</th>
                                <th width="5%">User</th>
                                <th width="5%">Aktivitas</th>
                                <th width="15%">Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each rows}}
                                <tr>
                                    <td class="center">{{numbyIndex @key}}</td>
                                    <td>{{dateTime tanggal}}</td>
                                    <td>{{user}}</td>
                                    <td>{{aksi}}</td>
                                    <td>{{breakLine detail}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>