{{#section 'title'}}
    {{title}}
{{/section}}
{{error}}

<div class="row almost-full" id="print-do-page">
    <div class="row">
        <div class="col s12 border-bottom mt-20 valign-wrapper">
            <div class="col s6" id="logoframe">
                <img class="mt-10 ml-10 logo-print" title="" alt="" src="images/logo.png">
            </div>
            <div class="col s6 right-align mt-20 mb-20">
                {{#each company}}
                    <span class="bold">{{nama}}</span><br>
                    <span>{{telp}}</span><br>
                    <span>{{alamat}}</span>
                {{/each}}
            </div>
        </div>
        <div class="col s12 mt-20 valign-wrapper">
            <div class="col s5">
                {{#each rows}}
                    <span>Bill to :</span><br>
                    <span class="bold">{{this.0.customer}}</span><br>
                    <span>{{this.0.telp}}</span><br>
                    <span>{{this.0.alamat}}</span>
                {{/each}}
            </div>
            <div class="col s3 right-align">
                <span>DO Number :</span><br>
                <span>DO Date :</span><br>
            </div>
            <div class="col s4 right-align">
                {{#each rows}}
                    <span>{{this.0.soid}}</span><br>
                    <span>{{readableFullDate this.0.tanggal}}</span><br>
                {{/each}}
            </div>
        </div>
        <div class="col s12 mt-20 center">
            <span class="font-20">Delivery Items</span>
        </div>
        <div class="col s12 mt-20">
            <div class="home-table row">
                <table class="bordered">
                    <thead>
                    <tr class="border-bottom">
                        <th width="3%">Code</th>
                        <th width="10%">Item</th>
                        <th width="3%">Qty</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each rows}}
                        {{#each this}}
                            {{#compare idkode NULL operator="!="}}
                                <tr>
                                    <td class="center">{{kode}}</td>
                                    <td>{{nama}}</td>
                                    <td class="center">{{jumlah}}</td>
                                </tr>
                            {{/compare}}
                        {{/each}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col s12 mt-20">
            <span>I confirm that all goods received in good order and condition.</span>
        </div>
        <div class="col s12 mt-70">
            <div class="col s6 mt-70">
                <span>Receiver Signature</span>
            </div>
            <div class="col s6  mt-70 right-align">
                <span>Checked By</span>
            </div>
        </div>
    </div>
</div>