{{#section 'title'}}
    Rekap Stock
{{/section}}
{{error}}

<div class="row almost-full">
    <div class="col s12 mt-20">
        <div class="col s12 mb-20 mt-20 center">
            <span class="font-40">Rekap Stock</span>
        </div>
        <div class="col s12">
            <span class="font-20 {{message.color}}-text" id="message">{{message.text}}</span>
        </div>
        <div class="row">
            <form action="" method="post">
                <div class="col s12 almost-full">
                    <div class="home-table row">
                        <table class="bordered">
                            <thead>
                            <tr class="border-bottom">
                                <th width="1%">No</th>
                                <th width="5%">Kode Barang</th>
                                <th width="13%">Nama Barang</th>
                                {{#compare priv '1' operator='=='}}
                                    <th width="5%">Harga Beli</th>
                                {{/compare}}
                                <th width="3%">Actual Stock</th>
                                <th width="3%">Kebutuhan SO</th>
                                <th width="3%">Sisa Stock</th>
                                <th width="3%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each rows}}
                                <tr>
                                    <td class="center">{{numbyIndex @key}}</td>
                                    <td>{{kode}}</td>
                                    <td>{{nama}}</td>
                                    {{#compare ../priv '1' operator='=='}}
                                        <td>{{numberFormat hargabeli}}</td>
                                    {{/compare}}
                                    <td>{{zeroOrNumber stock}}</td>
                                    <td>{{zeroOrNumber totalso}}</td>
                                    <td>{{zeroOrNumber resstock}}</td>
                                    <td><a class="btn-floating btn waves-effect waves-light blue modal-trigger" title="Detail Item" href="/item-detail?item={{encrypt idkode}}"><i class="material-icons">search</i></a></td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>