{{#section 'title'}}
    List Customer
{{/section}}
{{error}}

<div class="row almost-full">
    <div class="col s12 mt-20">
        <div class="col s12 mb-20 mt-20 center">
            <span class="font-40">List Customer</span>
        </div>
        <div class="row">
            {{#compare priv '1' operator="=="}}
                <div class="input-field">
                    <a class="btn-floating btn-large waves-effect waves-light green modal-trigger" href="#addToko"><i class="material-icons">add</i></a>
                </div>
            {{/compare}}
            <div class="col s12">
                <span class="font-20 {{message.color}}-text" id="message">{{message.text}}</span>
            </div>
            <div id="addToko" class="modal">
                <form action="" method="post">
                    <div class="modal-content">
                        <div class="col s12 container">
                            <div class="col s12 mb-20 mt-20 center">
                                <span class="font-40">Tambah Customer</span>
                            </div>
                            <div class="row" id="kodeField">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="nama" name="addToko[nama]" type="text" class="validate" required>
                                        <label for="nama">Nama Toko</label>
                                    </div>
                                    <div class="input-field col s12 l6 m6">
                                        <input id="pic" name="addToko[pic]" type="text" class="validate" required>
                                        <label for="pic">PIC</label>
                                    </div>
                                    <div class="input-field col s12 m6 l6">
                                        <input id="telp" name="addToko[telp]" type="text" class="validate" required>
                                        <label for="telp">No Telp</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="alamat" name="addToko[alamat]" class="materialize-textarea" required></textarea>
                                        <label for="alamat">Alamat Toko</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-fixed-footer">
                        <button type="submit" name="addTokoSubmit" id="addTokoSubmit" class="modal-close waves-effect waves-light btn grey darken-3 left ml-10 mb-10">Submit</button>
                        <a href="#!" class="modal-close waves-effect waves-light btn grey darken-1 left mb-10">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s12 almost-full">
                <div class="home-table row">
                    <table class="bordered">
                        <thead>
                        <tr class="border-bottom">
                            <th width="1%">No</th>
                            <th width="7%">Nama Toko</th>
                            <th width="5%">PIC</th>
                            <th width="5%">No Telp</th>
                            <th width="15%">Alamat Toko</th>
                            {{#compare priv '1' operator="=="}}
                                <th width="5%">Status</th>
                            {{/compare}}
                            <th width="4%">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each listCode}}
                            <tr>
                                <td class="center">{{numbyIndex @key}}</td>
                                <td>{{nama}}</td>
                                <td>{{pic}}</td>
                                <td>{{telp}}</td>
                                <td>{{breakLine alamat}}</td>
                                {{#compare ../priv '1' operator="=="}}
                                    <td class="center">
                                        <div class="switch">
                                            <label>
                                                Non Aktif
                                                <input type="checkbox" id="statusCustomer{{idcustomer}}" data-text="{{invertStatus status}}" data-kode="{{encrypt idcustomer}}" {{#compare status "1" operators="=="}}checked{{/compare}}>
                                                <span class="lever"></span>
                                                Aktif
                                            </label>
                                        </div>
                                    </td>
                                {{/compare}}
                                <td>
                                {{#compare priv '1' operator="=="}}
                                    <a class="btn-floating btn waves-effect waves-light blue modal-trigger" title="Edit DetaiL custerm" href="#editToko{{idcustomer}}" ><i class="material-icons">edit</i></a>
                                {{/compare}}
                                    <a class="btn-floating btn waves-effect waves-light orange" title="Lihat SO" target="_blank" href="/so-customer-list?so={{encrypt idcustomer}}" ><i class="material-icons">search</i></a>
                                    <a class="btn-floating btn waves-effect waves-light yellow" title="Edit Price List" target="_blank" href="/pl-customer-list?so={{encrypt idcustomer}}" ><i class="material-icons">attach_money</i></a>

                                    <div id="editToko{{idcustomer}}" class="modal">
                                        <form action="" method="post">
                                            <div class="modal-content">
                                                <div class="col s12 container">
                                                    <div class="col s12 mb-20 mt-20 center">
                                                        <span class="font-40">Tambah Customer</span>
                                                    </div>
                                                    <div class="row" id="kodeField">
                                                        <div class="row">
                                                            <div class="input-field col s12">
                                                                <input name="editToko[namaOld]" type="hidden" value="{{nama}}">
                                                                <input id="nama"{{idcustomer}} name="editToko[nama]" type="text" class="validate" value="{{nama}}" required>
                                                                <label for="nama"{{idcustomer}}>Nama Toko</label>
                                                            </div>
                                                            <div class="input-field col s12 m6 l6">
                                                                <input name="editToko[picOld]" type="hidden" value="{{pic}}">
                                                                <input id="pic"{{idcustomer}} name="editToko[pic]" type="text" class="validate" value="{{pic}}" required>
                                                                <label for="pic"{{idcustomer}}>PIC</label>
                                                            </div>
                                                            <div class="input-field col s12 l6 m6">
                                                                <input name="editToko[telpOld]" type="hidden" value="{{telp}}">
                                                                <input id="telp"{{idcustomer}} name="editToko[telp]" type="text" class="validate" value="{{telp}}" required>
                                                                <label for="telp"{{idcustomer}}>No Telp</label>
                                                            </div>
                                                            <div class="input-field col s12">
                                                                <input name="editToko[alamatOld]" type="hidden" value="{{alamat}}">
                                                                <textarea id="alamat"{{idcustomer}} name="editToko[alamat]" class="materialize-textarea" required>{{breakLine alamat}}</textarea>
                                                                <label for="alamat"{{idcustomer}}>Alamat Toko</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer modal-fixed-footer">
                                                <button type="submit" name="editTokoSubmit" value="{{encrypt idcustomer}}" id="editTokoSubmit" class="modal-close waves-effect waves-light btn grey darken-3 left ml-10 mb-10">Submit</button>
                                                <a href="#!" class="modal-close waves-effect waves-light btn grey darken-1 left mb-10">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>