{{#section 'title'}}
    Customer SO List
{{/section}}
{{error}}

<div class="row almost-full">
    <div class="col s12 mt-20">
        <div class="col s12 mb-20 mt-20 center">
            <span class="font-40">Sales Order List</span><br>
            <span class="font-40">{{customer.nama}}</span><br>
            <span class="font-20">({{customer.alamat}})</span>
        </div>
        <div class="row">
            <div class="col s12">
                <a class="btn-floating btn-large waves-effect waves-light grey left modal-trigger" title="Kembali ke List Customer" href="/customer-list"><i class="material-icons">keyboard_backspace</i></a>
                <a class="btn-floating btn-large waves-effect waves-light right green modal-trigger" href="/add-sales-order?customer={{encrypt customer.id}}"  target="_blank"><i class="material-icons">add</i></a>
            </div>
            <div class="col s12">
                <span class="font-20 {{message.color}}-text" id="message">{{message.text}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 almost-full">
                <div class="home-table row">
                    <table class="bordered">
                        <thead>
                        <tr class="border-bottom">
                            <th width="7%">Sales Order ID</th>
                            <th width="5%">Tanggal</th>
                            <th width="5%">Nama Customer</th>
                            <th width="5%">Status</th>
                            <th width="1%">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each rows}}
                            <tr>
                                <td>{{@key}}</td>
                                <td>{{readableDate this.0.tanggal}}</td>
                                <td>{{this.0.customer}}</td>
                                <td>{{this.0.status}}</td>
                                <td>
                                    <a class="btn-floating btn waves-effect waves-light blue modal-trigger" title="Lihat" href="#viewSo{{this.0.idsalesorder}}" ><i class="material-icons">search</i></a>
                                    {{#compare ../priv "1" operator="=="}}
                                        {{#compare this.0.status "Open" operator="=="}}
                                            <a class="btn-floating btn waves-effect waves-light red modal-trigger" title="Hapus" href="#deleteSo{{this.0.idsalesorder}}" ><i class="material-icons">delete</i></a>
                                        {{/compare}}
                                    {{/compare}}

                                    <div id="viewSo{{this.0.idsalesorder}}" class="modal">
                                        <form action="" method="post">
                                            <div class="modal-content">
                                                <div class="col s12">
                                                    <div class="col s12 mb-20 mt-20 center">
                                                        <span class="font-40">Detail Sales Order</span>
                                                    </div>
                                                </div>
                                                <div class="hide-on-med-and-up">
                                                    <div class="row">
                                                        <div class="col s12 valign-wrapper border-bottom">
                                                            <div class="col s3">
                                                                <span>Status</span>
                                                            </div>
                                                            <div class="col s9 valign-wrapper">
                                                                <div class="col s1">
                                                                    <span>:</span>
                                                                </div>
                                                                <div class="col s10">
                                                                    <span class="{{soStatusParser this.0.status}}">{{toUppercase this.0.status}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 valign-wrapper border-bottom">
                                                            <div class="col s3">
                                                                <span>Sales Order ID</span>
                                                            </div>
                                                            <div class="col s9 valign-wrapper">
                                                                <div class="col s1">
                                                                    <span>:</span>
                                                                </div>
                                                                <div class="col s10">
                                                                    <span>{{this.0.soid}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 valign-wrapper border-bottom">
                                                            <div class="col s3">
                                                                <span>Nama Customer</span>
                                                            </div>
                                                            <div class="col s9 valign-wrapper">
                                                                <div class="col s1">
                                                                    <span>:</span>
                                                                </div>
                                                                <div class="col s10">
                                                                    <span>{{this.0.customer}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 valign-wrapper border-bottom">
                                                            <div class="col s3">
                                                                <span>PIC / No. Telp</span><br>
                                                            </div>
                                                            <div class="col s9 valign-wrapper">
                                                                <div class="col s1">
                                                                    <span>:</span>
                                                                </div>
                                                                <div class="col s10">
                                                                    <span>{{this.0.pic}} / {{this.0.telp}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 valign-wrapper">
                                                            <div class="col s3">
                                                                <span>Alamat</span>
                                                            </div>
                                                            <div class="col s9 valign-wrapper">
                                                                <div class="col s1">
                                                                    <span>:</span>
                                                                </div>
                                                                <div class="col s10">
                                                                    <span>{{breakLine this.0.alamat}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="home-table row">
                                                        <table class="bordered">
                                                            <thead>
                                                            <tr class="border-bottom">
                                                                <th width="3%">Kode Barang</th>
                                                                <th width="10%">Nama Barang</th>
                                                                <th width="3%">Jumlah</th>
                                                                <th width="5%">Harga Jual</th>
                                                                <th width="5%">Total</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{#each this}}
                                                                {{#compare idkode NULL operator="!="}}
                                                                    <tr>
                                                                        <td>{{kode}}</td>
                                                                        <td>{{nama}}</td>
                                                                        <td>{{jumlah}}</td>
                                                                        <td>{{numberFormat hargajual}}</td>
                                                                        <td class="right-align">{{numberFormat total}}</td>
                                                                    </tr>
                                                                {{/compare}}
                                                            {{/each}}
                                                            <tr>
                                                                <td colspan="4">Total</td>
                                                                <td class="right-align">
                                                                    {{#each this}}
                                                                        {{#compare grandTotal NULL operator="!="}}
                                                                            {{numberFormat grandTotal}}
                                                                        {{/compare}}
                                                                    {{/each}}
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="hide-on-small-only">
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="col s9">
                                                                <div class="col s12 valign-wrapper">
                                                                    <div class="col l3 m4">
                                                                        <span class="font-20">Sales Order ID</span>
                                                                    </div>
                                                                    <div class="col l9 m8">
                                                                        <span class="font-20">: {{this.0.soid}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col s12 valign-wrapper">
                                                                    <div class="col l3 m4">
                                                                        <span class="font-20">Nama Customer</span>
                                                                    </div>
                                                                    <div class="col l9 m8">
                                                                        <span class="font-20">: {{this.0.customer}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col s3">
                                                                <div class="col s12">
                                                                    <span class="font-40 {{soStatusParser this.0.status}}">{{toUppercase this.0.status}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col s9">
                                                                <div class="col s12 valign-wrapper">
                                                                    <div class="col l3 m4">
                                                                        <span class="font-20">PIC / No. Telp</span><br>
                                                                    </div>
                                                                    <div class="col l9 m8">
                                                                        <span class="font-20">: {{this.0.pic}} / {{this.0.telp}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col s12 valign-wrapper">
                                                                    <div class="col l3 m4">
                                                                        <span class="font-20">Alamat</span>
                                                                    </div>
                                                                    <div class="col l9 m8">
                                                                        <span class="font-20">: {{breakLine this.0.alamat}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="home-table row">
                                                        <table class="bordered">
                                                            <thead>
                                                            <tr class="border-bottom">
                                                                <th width="3%">Kode Barang</th>
                                                                <th width="10%">Nama Barang</th>
                                                                <th width="3%">Jumlah</th>
                                                                <th width="5%">Harga Jual</th>
                                                                <th width="5%">Total</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {{#each this}}
                                                                {{#compare idkode NULL operator="!="}}
                                                                    <tr>
                                                                        <td>{{kode}}</td>
                                                                        <td>{{nama}}</td>
                                                                        <td>{{jumlah}}</td>
                                                                        <td>{{numberFormat hargajual}}</td>
                                                                        <td class="right-align">{{numberFormat total}}</td>
                                                                    </tr>
                                                                {{/compare}}
                                                            {{/each}}
                                                            <tr>
                                                                <td colspan="4">Total</td>
                                                                <td class="right-align">
                                                                    {{#each this}}
                                                                        {{#compare grandTotal NULL operator="!="}}
                                                                            {{numberFormat grandTotal}}
                                                                        {{/compare}}
                                                                    {{/each}}
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                {{#compare this.0.printed 1 operator="=="}}
                                                    <div class="col s12">
                                                        <span class="red-text darken-2">*Surat jalan sudah diprint oleh {{this.0.userprinted}} tanggal {{readableDate this.0.dateprinted}}</span>
                                                    </div>
                                                {{/compare}}
                                            </div>
                                            <div class="modal-footer modal-fixed-footer">
                                                {{#compare this.0.status "Open" operator="=="}}
                                                    <input name="prosesSoid" type="hidden" value="{{this.0.soid}}">
                                                    <button type="submit" name="prosesSoSubmit" value="{{this.0.idsalesorder}}" id="prosesSoSubmit" class="modal-close waves-effect waves-light btn grey darken-3 left ml-10 mb-10">Proses</button>
                                                {{/compare}}
                                                {{#compare this.0.status "Done" operator="=="}}
                                                    <input name="prosesSoid" type="hidden" value="{{this.0.soid}}">
                                                    <button type="button" value="{{encrypt this.0.soid}}" id="printInvoice{{this.0.idsalesorder}}" class="modal-close waves-effect waves-light btn green darken-3 left ml-10 mb-10">Print Invoice</button>
                                                    {{#compare this.0.printed "1" operator="=="}}
                                                        {{#compare ../priv '1' operator="=="}}
                                                            <button type="submit" name="printSoBtn"  value="{{encrypt this.0.soid}}" id="printDo{{this.0.idsalesorder}}" class="modal-close waves-effect waves-light btn orange darken-3 left ml-10 mb-10">Print DO</button>
                                                        {{/compare}}
                                                    {{else}}
                                                        <button type="submit" name="printSoBtn"  value="{{encrypt this.0.soid}}" id="printDo{{this.0.idsalesorder}}" class="modal-close waves-effect waves-light btn orange darken-3 left ml-10 mb-10">Print DO</button>
                                                    {{/compare}}
                                                    {{#compare ../priv '1' operator="=="}}
                                                        <button type="submit" name="reopenSoBtn" value="{{this.0.idsalesorder}}" id="reopenSo{{this.0.idsalesorder}}" class="modal-close waves-effect waves-light btn red darken-3 left ml-10 mb-10">Reopen</button>
                                                    {{/compare}}
                                                {{/compare}}
                                                <a href="#!" class="modal-close waves-effect waves-light btn grey darken-1 left mb-10 ml-10">Tutup</a>
                                            </div>
                                        </form>
                                    </div>

                                    <div id="deleteSo{{this.0.idsalesorder}}" class="modal">
                                        <form action="" method="post">
                                            <div class="modal-content">
                                                <div class="col s12 container">
                                                    <div class="col s12 center">
                                                        <span class="font-20 hide-on-med-and-up">Konfirmasi Hapus Sales Order</span>
                                                        <span class="font-40 hide-on-small-only">Konfirmasi Hapus Sales Order</span>
                                                    </div>
                                                    <div class="col s12 mb-20">
                                                        <p class="hide-on-med-and-up">Apakah anda yakin ingin menghapus SO ini ?</p>
                                                        <p class="font-20 hide-on-small-only">Apakah anda yakin ingin menghapus SO ini ?</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer modal-fixed-footer">
                                                <input name="deletedSoid" type="hidden" value="{{this.0.soid}}">
                                                <button type="submit" name="hapusSoBtn" value="{{this.0.idsalesorder}}" id="hapusSoBtn" class="modal-close waves-effect waves-light btn red darken-3 left ml-10 mb-10">Hapus</button>
                                                <a href="#!" class="modal-close waves-effect waves-light btn grey darken-1 left mb-10">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>