{{#section 'title'}}
    Laporan Beli Barang
{{/section}}
{{error}}

<div class="row almost-full">
    <div class="col s12 mt-20">
        <div class="col s12 mb-20 mt-20 center">
            <span class="font-40">Laporan Beli Barang</span>
        </div>
        <div class="row">
            <form action="" method="post">
                <div class="col s12 almost-full">
                    <div class="col s12">
                        <ul class="collapsible col s12" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">date_range</i>
                                    Filter periode laporan
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 m6 l6">
                                            <label for="startPeriode">Dari Tanggal : </label>
                                            <input id="startPeriode" name="periode[start]" type="text" class="datepicker" value="{{filterDate.start}}">
                                        </div>
                                        <div class="col s12 m6 l6">
                                            <label for="endPeriode">Sampai Tanggal : </label>
                                            <input id="endPeriode" name="periode[end]" type="text" class="datepicker" value="{{filterDate.end}}">
                                        </div>
                                        <div class="row">
                                            <div class="input-field mt-20 col s12">
                                                <button type="submit" name="dateFilterBtn" id="dateFilterBtn" class="waves-effect waves-light btn blue darken-3 left">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <span class="font-20 {{message.color}}-text" id="message">{{message.text}}</span>
                    </div>
                    <div class="home-table row">
                        <table class="bordered">
                            <thead>
                            <tr class="border-bottom">
                                <th width="1%">No</th>
                                <th width="7%">Order ID</th>
                                <th width="7%">Tanggal</th>
                                <th width="5%">Jenis Trx</th>
                                <th width="5%">Kode Barang</th>
                                <th width="10%">Nama Barang</th>
                                <th width="4%">Harga Beli</th>
                                <th width="3%">Jumlah</th>
                                <th width="4%">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each template}}
                                {{#compare (maxKey this) 2 operator=">"}}
                                    <tr>
                                        <td rowspan="{{maxKey this}}">{{numbyIndex @index}}</td>
                                        <td rowspan="{{maxKey this}}">{{@key}}</td>
                                        <td rowspan="{{maxKey this}}">{{readableDate this.0.tanggal}}</td>
                                        <td rowspan="{{maxKey this}}">{{jenisTrx this.0.jenistrx}}</td>
                                    </tr>
                                    {{#each this}}
                                        <tr>
                                            {{#compare this.jenistrx 4 operator="=="}}
                                                <td>-</td>
                                                <td>{{this.expense}}</td>
                                            {{else}}
                                                <td>{{this.kode}}</td>
                                                <td>{{this.nama}}</td>
                                            {{/compare}}
                                            <td class="right-align">{{numberFormat this.hargabeli}}</td>
                                            <td class="center-align">{{zeroOrNumber this.jumlah}}</td>
                                            <td class="right-align">{{numberFormat this.total}}</td>
                                        </tr>
                                    {{/each}}
                                {{else}}
                                    {{#each this}}
                                        <tr>
                                            <td>{{numbyIndex @../index}}</td>
                                            <td>{{this.orderid}}</td>
                                            <td>{{readableDate this.tanggal}}</td>
                                            <td>{{jenisTrx this.jenistrx}}</td>
                                            <td>{{this.kode}}</td>
                                            <td>{{this.nama}}</td>
                                            <td class="right-align">{{numberFormat this.hargabeli}}</td>
                                            <td class="center-align">{{zeroOrNumber this.jumlah}}</td>
                                            <td class="right-align">{{numberFormat this.total}}</td>
                                        </tr>
                                    {{/each}}
                                {{/compare}}
                            {{/each}}
                                <tr>
                                    <td colspan="8">Total</td>
                                    <td class="right-align">{{numberFormat grandTotal}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>